<h1 class="text-center">Receipt Details</h1>

<table class="table w-50 mx-auto" c style="border-top:3px solid #32CD32">
    @foreach(var order in Model.Orders)
    {
    <tr>
        <th scope="row">@order.Name</th>
        <td>x@order.Quantity</td>
        <td>@order.Price</td>
    </tr>
    }
    <tr style="border-top: 3px solid #32CD32">
        <th scope="row" colspan="2">Total</th>
        <td>$@Model.Tottal</td>
    </tr>
    <tr style="border-top: 3px solid #32CD32">
        <th scope="row" colspan="2">Issued On</th>
        <td>@Model.IssuedOn</td>
    </tr>
    <tr>
        <th scope="row" colspan="2">Cashier</th>
        <td>@Model.Cashier</td>
    </tr>
    <tr style="border-top: 3px solid #32CD32">
        <th scope="row" colspan="2">Receipt</th>
        <td>@Model.Id</td>
    </tr>
</table>
